@model LucasTimetable.ViewModel.System.Users.UserViewModel

@{
    ViewData["Title"] = "Chi tiết user";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Chi tiết user</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                <a class="btn btn-success" asp-action="Index" asp-controller="User">Về Danh sách user</a>
            </h6>
        </div>
        <div class="card-body">
            <div class="row ">
                <div class="col-sm-8">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Id)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Id)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Ho)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Ho)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Ten)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Ten)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.HoTen)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.HoTen)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.UserName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.UserName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.NgaySinh)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.NgaySinh)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.SoDienThoai)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.SoDienThoai)
                        </dd>
                    </dl>    
                </div>
            </div>
        </div>
    </div>
</div>
